{% extends 'core/layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Восстановление пароля{% endblock %}
{% block content %}
<div class="container">
<div class="auth-wrapper">
    <img class="mb-4" src="{% static 'core/img/logo.png' %}" alt="logo">
    <h5 class="mb-4 text-center">Восстановление пароля</h5>
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success"> 
            {{ message }} 
        </div>
        {% endfor %}
{% endif %}

    <form method='post'>
        {% csrf_token %}
        <div class="form-group form-group-required">
            <label class="mb-2" for="email">Для получения ссылки для сброса пароля введите указанный при регистрации адрес электронной почты (e-mail)</label>
            {{ form.email|attr:"class:form-control"|attr:"required"|attr:"value" }}
            {% for error in form.email.errors %}
            <p class="my-2 alert alert-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <button class="mb-4 btn btn-primary btn-block btn-lg" type="submit">Восстановить</button>
    </form>
    <p class="auth-text">Еще нет личного кабинета? <a href="{% url 'reg' %}">Зарегистрируйтесь</a></p>
    <p class="auth-text">Уже зарегистрированы? <a href="{% url 'auth' %}">Выполните вход</a></p>
 </div>
</div>
    {% endblock %}