{% extends 'core/layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
{% if validlink %}
<div class="container">
<div class="auth-wrapper">
    <img class="mb-4" src="{% static 'core/img/logo.png' %}" alt="logo">
    <h5 class="mb-4 text-center">Установите новый пароль</h5>
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
            {{ form.non_field_errors }}
    </div>
    {% endif %}
    <form method='post'>
        {% csrf_token %}
        <div class="form-group form-group-required">
            <label for="new_password1">Новый пароль</label>
            {{ form.new_password1|attr:"class:mb-2 form-control"|attr:"required"|attr:"value" }}
            <p class="help-block">Пароль должен содержать не менее 8 символов и не может состоять только из цифр.</p>
    </div>

    <div class="form-group form-group-required">
            <label for="new_password2">Подтверждение нового пароля</label>
            {{ form.new_password2|attr:"class:form-control"|attr:"required"|attr:"value" }}
            {% for error in form.new_password2.errors %}
            <p class="my-2 alert alert-danger">{{ error }}</p>
            {% endfor %}
    </div>

    <button class="mb-4 btn btn-primary btn-block btn-lg" type="submit">Установить пароль</button>
</form>

<p class="auth-text">Еще нет личного кабинета? <a href="{% url 'reg' %}">Зарегистрируйтесь</a></p>
<p class="auth-text">Забыли пароль? <a href="{% url 'password_reset' %}">Восстановите</a></p>
</div>
</div>
{% endif %}
{% endblock %}