{% extends 'core/page-layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Смена пароля{% endblock %}
{% block page %}
<div class="container">
    <div class="account-header">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <h2 class="my-3">Смена пароля</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success"> 
                    {{ message }} 
                </div>
                {% endfor %}
                {% endif %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
                
                <form method='post' action=''>
                    {% csrf_token %}
                    <div class="form-group form-group-required">
                        <label for="old_password">Старый пароль</label>
                        {{ form.old_password|attr:"class:mb-2 form-control"|attr:"placeholder:Введите старый пароль"|attr:"required"|attr:"value" }}
                        {% for error in form.old_password.errors %}
                        <p class="my-2 alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div class="form-group form-group-required">
                        <label for="new_password1">Новый пароль</label>
                        {{ form.new_password1|attr:"class:mb-2 form-control"|attr:"placeholder:Введите новый пароль"|attr:"required"|attr:"value" }}
                        <p class="help-block">Пароль должен содержать не менее 8 символов и не может состоять только из цифр.</p>
                    </div>

                    <div class="form-group form-group-required">
                        {{ form.new_password2|attr:"class:form-control"|attr:"placeholder:Повторите ваш новый пароль"|attr:"required"|attr:"value" }}
                        {% for error in form.new_password2.errors %}
                        <p class="my-2 alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <button class="mb-4 btn btn-primary btn-block btn-lg" type="submit">Изменить</button>
                </form>
                {% endblock %}