{% extends 'core/page-layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Дашборд наставника{% endblock %}
{% block page %}
<div class="container">
  <div class="row g-4 mb-4">
    <div class="col-6">
      <div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start p-1">

        <div class="app-card-header p-3">
          <div class="row justify-content-between align-items-center">
            <div class="col-auto">
              <h4 class="app-card-title">Заявки на открытые уроки</h4>
            </div><!--//col-->
          </div><!--//row-->
        </div><!--//app-card-header-->

        <div class="app-card-body px-4 w-100">
          <div class="table-responsive">
        <table class="table app-table-hover mb-0 text-left">
          <thead>
            <tr>
              <th class="cell fw-bold">Заявка</th>
              <th class="cell fw-bold">Урок</th>
              <th class="cell fw-bold">Дата</th>
              <th class="cell fw-bold">Статус</th>
              <th class="cell fw-bold"></th>
            </tr>
          </thead>

          <tbody>
            {% for sign in lpage_obj %}
            <tr>
              <td class="cell">{{sign.id}}</td>
              <td class="cell">{{sign.lesson_title}}</td>
              <td class="cell">{{sign.date|date:"d.m.Y H:i"}}</td>
              <td class="cell">{{sign.get_status_display}}</td>
              <td class="cell"><a href="{% url 'method-lesson-signs-update' sign.id %}">Изменить</a></td>
            </tr>
            {% empty %}
                <tr><td class="cell">Заявок нет</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div><!--//table-responsive-->

      {% if lpage_obj.paginator.num_pages > 1 %}
      <div class="my-3 text-center pagination">
        <span class="step-links">
          {% if lpage_obj.has_previous %}
          <a href="?lpage=1">&laquo; В начало</a>
          <a href="?lpage={{ lpage_obj.previous_page_number }}">| предыдущая</a>
          {% endif %}

          <span class="current">
            Страница {{ lpage_obj.number }} из {{ lpage_obj.paginator.num_pages }}.
          </span>

          {% if lpage_obj.has_next %}
          <a href="?lpage={{ lpage_obj.next_page_number }}">следующая | </a>
          <a href="?lpage={{ lpage_obj.paginator.num_pages }}">В конец &raquo;</a>
          {% endif %}
        </span>
      </div>
      {% endif %}
        </div><!--//app-card-body-->

        <div class="app-card-footer p-4 mt-auto">
         
       </div><!--//app-card-footer-->

     </div><!--//app-card-->
   </div>


   <div class="col-6">
    <div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start p-1">

      <div class="app-card-header p-3">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto">
            <h4 class="app-card-title">Рефлексии на рассмотрении</h4>
          </div><!--//col-->
        </div><!--//row-->
      </div><!--//app-card-header-->

      <div class="app-card-body px-4 w-100">
        <div class="table-responsive">
        <table class="table app-table-hover mb-0 text-left">
          <thead>
            <tr>
              <th class="cell fw-bold">Номер</th>
              <th class="cell fw-bold">Учитель</th>
              <th class="cell fw-bold">Материал</th>
              <th class="cell fw-bold">Статус</th>
              <th class="cell fw-bold"></th>
            </tr>
          </thead>

          <tbody>
            {% for reflection in reflections %}
            <tr>
              <td class="cell">{{reflection.id}}</td>
              <td class="cell">{{reflection.route.account.last_name}} {{reflection.route.account.first_name}} {{reflection.route.account.middle_name}}</td>
              <td class="cell">{{reflection.route.manual.title}}</td>
              <td class="cell">{{reflection.get_status_display}}</td>
              <td class="cell"><a href="{% url 'method-reflections-update' reflection.id %}">Изменить</a></td>
            </tr>
            {% empty %}
                <tr><td class="cell">Рефлексий нет</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div><!--//table-responsive-->

      </div><!--//app-card-body-->

      <div class="app-card-footer p-4 mt-auto">
     </div><!--//app-card-footer-->

   </div><!--//app-card-->
 </div>


 <div class="col-12">
  <div class="app-card app-card-stats-table h-100 shadow-sm">
    <div class="app-card-header p-3">
      <div class="row justify-content-between align-items-center">
        <div class="col-8">
          <h4 class="app-card-title">Список задолжностей по ИОМ</h4>
        </div>
      </div>
    </div>

    <div class="app-card-body px-4 w-100">
      <div class="table-responsive">
        <table class="table app-table-hover mb-3 text-left">
          <thead>
            <tr>
              <th class="cell fw-bold">Аккаунт</th>
              <th class="cell fw-bold">Материал</th>
              <th class="cell fw-bold">Дедлайн</th>
            </tr>
          </thead>
          <tbody>
            {% for item in iompage_obj %}
            <tr>
              <td class="cell"><a href="{% url 'method-profiles-item' item.account_id %}">{{ item.account_id }}</a></td>
              <td class="cell">{{ item.manual.title }}</td>
              <td class="cell">{{ item.deadline|date:"d.m.Y" }}</td>
            </tr>
            {% empty %}
            <tr>
              <td class="cell">Задолжностей нет</td>
              <td></td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% if iompage_obj.paginator.num_pages > 1 %}
          <div class="my-3 text-center pagination">
            <span class="step-links">
              {% if iompage_obj.has_previous %}
              <a href="?iompage=1">&laquo; В начало</a>
              <a href="?iompage={{ iompage_obj.previous_page_number }}">| предыдущая</a>
              {% endif %}

              <span class="current">
                Страница {{ iompage_obj.number }} из {{ iompage_obj.paginator.num_pages }}.
              </span>

              {% if iompage_obj.has_next %}
              <a href="?iompage={{ iompage_obj.next_page_number }}">следующая | </a>
              <a href="?iompage={{ iompage_obj.paginator.num_pages }}">В конец &raquo;</a>
              {% endif %}
            </span>
          </div>
          {% endif %}

    </div>
  </div>
</div>
</div>
</div>
{% endblock %}