{% extends 'core/page-layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Наставничество{% endblock %}
{% block page %}
<div class="container">
  <h2 class="my-3">Наставничество</h2>

  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="text-sm-center nav-link" aria-current="page" href="{% url 'method-profiles' %}">Список учителей</a>
    <a class="text-sm-center nav-link active" href="{% url 'method-signs' %}">Заявки</a>
      <a class="text-sm-center nav-link" href="{% url 'method-statistics' %}">Статистика</a>
</nav>

<div class="my-3 course-app">
    <div class="row">
      <div class="col-md-4 col-6 offset-md-8 offset-6">
        <form class="float-end" method='GET'>
          <input class="form-control"  placeholder="Поиск" type='text' name='q' value='{{ request.GET.q }}'>
      </form>
  </div>

</div>
</div>

<div class="sign-table d-none d-sm-block d-block d-sm-none d-md-block">
    <div class="row sign-row">
      <div class="col-md-2">Номер заявки</div>
      <div class="col-md-2">Имя</div>
      <div class="col-md-2">Фамилия</div>
      <div class="col-md-2">Отчество</div>
      <div class="col-md-2">Организация</div>
      <div class="col-md-2">Запланированная дата</div>

  </div>
</div>

{% for item in object_list %}
<div class="sign-table__item">
    <div class="row">
    <div class="col-md-2"><a href="{% url 'method-signs-item' item.id %}">{{ item.id }}</a></div>
    <div class="col-md-2">{{ item.teacher.first_name }}</div>
    <div class="col-md-2">{{ item.teacher.last_name }}</div>
    <div class="col-md-2">{{ item.teacher.middle_name }}</div>
    <div class="col-md-2">{{ item.teacher.work }}</div>
    <div class="col-md-2">{{ item.date|date:"d.m.Y H:i" }}</div>
</div>
</div>
{% empty %}
<p>Аккаунтов нет</p>
{% endfor %}
</div>
{% endblock %}