{% extends 'core/page-layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Наставничество{% endblock %}
{% block page %}
<div class="container">

  <div class="account-header">
    <div class="row">
      <div class="my-3 col-lg-4 offset-lg-4 text-center">
        <h3>Заявка на открытый урок</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 offset-lg-4 p-3">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {{ form.non_field_errors }}
        </div>
        {% endif %}

        {% for field in form %}
        <div class="form-group form-group-required">
          <label>{{ field.label_tag }}</label>
          {{ field|attr:"class:form-control"|attr:"required" }}
          {% for error in field.errors %}
          <p class="my-2 alert alert-danger">{{ error }}</p>
          {% endfor %}
        </div>
        {% endfor %}

        <button class="mb-4 btn btn-primary btn-block btn-lg" type="submit">Сохранить</button>
      </form>
    </div>
  </div>

</form>

</div>
{% endblock %}