{% extends 'core/page-layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Модерация образовательных материалов{% endblock %}
{% block page %}
<div class="container">
  <div class="row g-4 mb-4">
    <div class="col-12">
      <div class="app-card app-card-stats-table h-100 shadow-sm">
        <div class="app-card-header p-3">
          <div class="row justify-content-between align-items-center">
            <div class="col-8">
              <h4 class="app-card-title">Модерация образовательных материалов</h4>
            </div>
            <div class="col-4">
              <form class="float-end" method='GET'>
                <input class="form-control"  placeholder="Поиск" type='text' name='q' value='{{ request.GET.q }}'>
              </form>
            </div>
          </div>
        </div>

        <div class="app-card-body px-4 w-100">
          <div class="table-responsive">
            <table class="table app-table-hover mb-3 text-left">
              <thead>
                <tr>
                  <th class="cell fw-bold">Наименование</th>
                  <th class="cell fw-bold">Тип</th>
                  <th class="cell fw-bold">Описание</th>
                  <th class="cell fw-bold">Компетенции</th>
                  <th class="cell fw-bold">Доступность</th>
                  <th class="cell fw-bold">Операции</th>
                </tr>
              </thead>

              <tbody>
                {% for item in object_list %}
                <tr>
                  <td class="cell">{{ item.title }}</td>
                  <td class="cell">{{ item.get_type_display }}</td>
                  <td class="cell">{{ item.description }}</td>
                  <td class="cell">
                    <i class="fa-solid fa-layer-group" style="color:brown" title="Методические компетенции"></i> {{ item.mark1 }} 
                    <i class="fa-solid fa-layer-group" style="color:green" title="Функциональная грамотность"></i> {{ item.mark2 }} 
                    <i class="fa-solid fa-layer-group" style="color:orange" title="Психолого-педагогические компетенции"></i> {{ item.mark3 }} 
                    <i class="fa-solid fa-layer-group" style="color:purple" title="Предметные компетенции"></i> {{ item.mark4 }}
                  </td>
                  <td class="cell">{{ item.link }}</td>
                  <td class="cell">
                    <a href="{% url 'moderate-manuals-update' item.id %}" class="btn btn-primary text-white"><i class="far fa-edit"></i></a>
                    <form action="{% url 'moderate-manuals-delete' pk=item.id %}" method="POST" style="display: inline;" onsubmit="window.mytest()">
                      {% csrf_token %}
                      <button type="submit" value="Delete" class="btn btn-primary"><i class="far fa-trash-alt"></i></button>
                    </form>
                    <script type="text/javascript">window.mytest = function() { var isValid = confirm('Вы уверены, что хотите удалить данную программу?');if (!isValid) { event.preventDefault();}}</script>
                  </td>
                </tr>
                {% empty %}
                <tr><td class="cell">Материалов нет</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                {% endfor %}
                {% include 'core/pagination.html' %}
              </tbody>
            </table>
          </div>
          <a href="{% url 'moderate-manuals-create' %}" class="btn btn-primary text-white mb-3"><i class="fas fa-plus"></i></a>
        </div>

        <div class="app-card-footer px-4 w-100 mb-3 text-center">
          <i class="fa-solid fa-layer-group" style="color:brown" title="Методические компетенции"></i> - методические компетенции; <i class="fa-solid fa-layer-group" style="color:green" title="Функциональная грамотность"></i> - функциональная грамотность; <i class="fa-solid fa-layer-group" style="color:orange" title="Психолого-педагогические компетенции"></i> - психолого-педагогические компетенции; <i class="fa-solid fa-layer-group" style="color:purple" title="Предметные компетенции"></i> - предметные компетенции.
        </div>

      </div>
      {% endblock %}