{% extends 'core/page-layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Модерация методических работников{% endblock %}
{% block page %}
<div class="container">
  <div class="row g-4 mb-4">
    <div class="col-12">
      <div class="app-card app-card-stats-table h-100 shadow-sm">
        <div class="app-card-header p-3 mb-4">
          <div class="row justify-content-between align-items-center">
            <div class="col-8">
              <h4 class="app-card-title">Модерация методических работников</h4>
            </div>
          </div>
        </div>

        <div class="app-card-body px-4 w-100">
          <form action="" method="post">
            {% csrf_token %}

            {% for item, formset in formsets %}
            <div class="row mb-2">
              {{ formset.management_form }}
              {{ formset.non_form_errors }}

              <div class="col-2">{{ item }}:</div>
              {% for form in formset %}
              {{ form.non_field_errors }}
              {{ form.errors }}
              <div class="col-2">
                <div class="inline {{ formset.prefix }}">
                  {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                  {% endfor %}
                  {{form.method|attr:"class:form-select"}}
                  {{ form.DELETE }}
                </div>
              </div>
              {% endfor %}

              <script type="text/javascript">
                $(function() {
                  $(".inline.{{ formset.prefix }}").formset({
            prefix: "{{ formset.prefix }}", // The form prefix for your django formset
          })
                });
              </script>
            </div>
            {% endfor %}

            <div class="row">
              <div class="col-2 offset-lg-10">
                <button class="mb-4 btn btn-primary btn-block btn-lg mt-3" type="submit">Сохранить</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block bottom_scripts %}
<script src="{% static 'core/js/jquery.formset.js' %}"></script>
{% endblock %}