{% extends 'core/page-layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Курсы{% endblock %}
{% block page %}
<div class="container">
  <h2 class="my-3">Образовательный маршрут</h2>

  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="text-sm-center nav-link active" aria-current="page" href="{% url 'route-profile' %}">Профиль</a>
    <a class="text-sm-center nav-link" href="{% url 'route-diagnostics' %}">Диагностика</a>
    <a class="text-sm-center nav-link" href="{% url 'route' %}">Индивидуальный план</a>
    <a class="text-sm-center nav-link" href="{% url 'route-manuals' %}">Материалы</a>
  </nav>

  <div class="row bg-white rounded shadow-sm p-3 mt-3">
    <div class="col-lg-3 p-3">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="profile-image-wrap">
          <img src="{{ account.image.url }}" class="profile-image">
          <div class="position-absolute top-50 start-25 profile-image-upload">
            {{ form.image|attr:"class:form-control" }}
            <button type="submit" class="btn btn-primary btn-block btn-sm my-1">Загрузить</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-3 p-3">
      {{ account.last_name }} {{ account.first_name }} {{ account.middle_name }} <br>
      Ваш методист<br>
      {{ method.methodist.last_name }} {{ method.methodist.first_name }} {{ method.methodist.middle_name }}<br>
      {{ method.methodist.mail }}<br>
      <a href="{% url 'method-signs-create' %}">Пригласить на урок</a><br>
  </div>

    <div class="col-lg-6">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Шкала', 'Результат'],
          ['Шкала 1', {{ result.0 }}],
          ['Шкала 2', {{ result.1 }}],
          ['Шкала 3', {{ result.2 }}],
          ['Шкала 4', {{ result.3 }}]
          ]);

        var options = {
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
    <div id="donutchart"></div>
  </div>
</div>

<div class="row">

</div>

</div>
{% endblock %}