{% extends 'core/page-layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Курсы{% endblock %}
{% block page %}
<div class="container">
  <h2 class="my-3">Образовательный маршрут</h2>

<div class="account-header">
    <div class="row">
      <div class="my-3 col-lg-4 offset-lg-4 text-center">
        <h3>Редактирование этапа образовательного маршрута</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 offset-lg-4 p-3">
    <form method="post">
        {% csrf_token %}
         {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {{ form.non_field_errors }}
        </div>
        {% endif %}

        <div class="form-group form-group-required">
          <label>Дедлайн</label>
          {{ form.deadline|attr:"class:form-control"|attr:"required"|attr:"type:date" }}
          {% for error in form.deadline.errors %}
          <p class="my-2 alert alert-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="form-group form-group-required">
          <label>Статус</label>
          {{ form.status|attr:"class:form-select"|attr:"required" }}
          {% for error in form.status.errors %}
          <p class="my-2 alert alert-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="form-group">
          <label>Рефлексия</label>
          {{ form.reflection|attr:"class:form-control" }}
          {% for error in form.reflection.errors %}
          <p class="my-2 alert alert-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <button class="mb-4 btn btn-primary btn-block btn-lg" type="submit">Сохранить</button>
      </form>

</div>
  </div>
</div>
{% endblock %}