{% extends 'core/page-layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Курсы{% endblock %}
{% block page %}
<div class="container">
  <h2 class="my-3">Образовательный маршрут</h2>

  <nav class="mb-3 nav nav-pills flex-column flex-sm-row">
    <a class="text-sm-center nav-link" href="{% url 'route-profile' %}">Профиль</a>
    <a class="text-sm-center nav-link active" href="{% url 'route-diagnostics' %}">Диагностика</a>
    <a class="text-sm-center nav-link" href="{% url 'route' %}">Индивидуальный план</a>
    <a class="text-sm-center nav-link" href="{% url 'route-manuals' %}">Материалы</a>
  </nav>

{% for item in object_list %}
  <div class="sign-table__item">
    <div class="row">
      <div class="col-md-12">
        <a href="{% url 'route-diagnostics-item' item.id %}">{{ item.title }}</a>
      </div>
    </div>
  </div>
{% endfor %}


</div>
{% endblock %}