{% extends 'core/page-layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Курсы{% endblock %}
{% block page %}
<div class="container">
  <h2 class="my-3">Образовательный маршрут</h2>

  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="text-sm-center nav-link active" aria-current="page" href="{% url 'route-profile' %}">Профиль</a>
    <a class="text-sm-center nav-link" href="{% url 'route-diagnostics' %}">Диагностика</a>
    <a class="text-sm-center nav-link" href="#">Индивидуальный план</a>
    <a class="text-sm-center nav-link" href="#">Материалы</a>
  </nav>

  <div class="row justify-content-between">
    <div class="col-lg-3 bg-white rounded shadow-sm p-3 mt-3">
      <img src="{% static 'core/img/favicon.png' %}">
    </div>

    <div class="col-lg-8 bg-white rounded shadow-sm p-3 mt-3">
      <p>Злобин Максим Сергеевич<br>
        Ваш методист<br>
        Кузнецова Марина Кузьминична<br>
        cnppm.lipetsk@yandex.ru<br>
        vk / telegram<br>
        Связаться<br>
        Пригласить на урок<br>
      </p>
    </div>

    <div class="col-lg-12 bg-white rounded shadow-sm p-3 mt-3">
      График
    </div>

  </div>
  {% endblock %}