{% extends 'core/page-layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Курсы{% endblock %}
{% block page %}
<div class="container">
  <h2 class="my-3">Образовательный маршрут</h2>

  <nav class="mb-3 nav nav-pills flex-column flex-sm-row">
    <a class="text-sm-center nav-link" href="{% url 'route-profile' %}">Профиль</a>
    <a class="text-sm-center nav-link active" href="{% url 'route-diagnostics' %}">Диагностика</a>
    <a class="text-sm-center nav-link" href="#">Индивидуальный план</a>
    <a class="text-sm-center nav-link" href="#">Материалы</a>
  </nav>

<form method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  {% for form in formset %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {{ form.title.value }} 
    {{ form }} <br>
  {% endfor %}
  <button class="mb-4 btn btn-primary btn-block btn-lg" type="submit">Сохранить</button>
</form>


<!-- old version without form

  <form method="post">
    {% csrf_token %}

    {% for q in questions %}
      {{ forloop.counter }}. {{q.title }}
      {% for ans in q.answer_set.filter %}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadio-{{forloop.parentloop.counter}}" value="{{ ans.id }}">
        <label class="form-check-label">{{ ans.title }}</label>
      </div>
      {% endfor %}
    {% endfor %}

    <button class="mb-4 btn btn-primary btn-block btn-lg" type="submit">Сохранить</button>
  </form>-->
  

  </div>
{% endblock %}