{% extends 'core/page-layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Курсы{% endblock %}
{% block page %}
<div class="container">

  <div class="app-card app-card-notification shadow-sm mb-4">
      <div class="app-card-header px-4 py-3">
        <div class="row g-3 align-items-center">
          <div class="col-12 col-lg-auto text-center text-lg-start">
            <h4 class="app-card-title">{{diagnostic.title}}</h4>
          </div><!--//col-->
        </div><!--//row-->
      </div><!--//app-card-header-->
      <div class="app-card-body p-4">
        <div class="notification-content">Описание</div>
      </div><!--//app-card-body-->
    </div>

  <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {{ form.non_field_errors }}
    </div>
    {% endif %}

    <div class="app-card app-card-notification shadow-sm mb-4">
      <div class="app-card-header px-4 py-3">
        <div class="row g-3 align-items-center">
          <div class="col-12 col-lg-auto text-center text-lg-start">
            <h4 class="app-card-title">{{ form.title.value }} </h4>
          </div><!--//col-->
        </div><!--//row-->
      </div><!--//app-card-header-->
      <div class="app-card-body p-4">
        <div class="notification-content">{{ form }}</div>
      </div><!--//app-card-body-->
    </div>
    {% endfor %}
    <div class="offset-lg-10 lg-2">
      <button id="saveOrdering" class="btn btn-primary btn-block btn-lg" type="submit">Сохранить</button>
    </div>
  </form>
</div>
{% endblock %}