html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

body{
	font-family: Lab Grotesque, Arial,sans-serif;
	font-size:14px;
	color:#9e9e9e;
	line-height:normal;
	word-wrap:break-word;
	background:#F6F6F6;
}

h1, h2, h3, h4, h5, h6{
	font-weight:bold;
	color: #749a4b;
}

h1{font-size:48px}
h2{font-size:36px}
h3{font-size:30px}
h4{font-size:24px}
h5{font-size:18px}
h6{font-size:16px}

a {
	color: #98c35a !important;
	text-decoration: none;
}

a:focus, a:hover {
	text-decoration: none;
	color: #749a4b;
}

ol,ul{list-style:none}

input[type=checkbox], input[type=radio] {
	position: absolute;
	margin-left: -20px;
	margin-top: 3px;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 400;
	color: #9e9e9e;
	padding-left: 16px;
	font-size: 14px;
}

img{width:100%}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.auth-wrapper {
	border-radius: 32px;
	background: #fff;
	box-shadow: 0 2px 8px rgba(0,0,0,.15);
	width: 100%;
	max-width: 360px;
	margin: 50px auto;
	padding: 30px;
}

.form-group {
	margin-bottom: 15px;
}

.form-control {
	font-size: 14px;
	border: 1px solid #9e9e9e;
	border-radius: 6px;
}

.form-select{
	font-size: 14px;
	border: 1px solid #9e9e9e;
	border-radius: 6px;
}

.form-control:focus {
	border-color: #749a4b;
}

.form-control, .form-control:focus {
	box-shadow: none!important;
}

.form-control-static {
	padding: 10px;
	margin-bottom: 0;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-group-lg>.btn, .btn-lg {
	border-radius: 6px;
}

.btn-primary {
	color: #fff;
	background-color: #98c35a;
	border-color: #98c35a;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	background-color: #749a4b;
	border-color: #749a4b; /*set the color you want here*/
}

.auth-text {
	margin: 0 0 10px;
}

.form-group-required .control-label:after, .form-group-required>label:first-child:after {
	content: "*";
	display: inline-block;
	color: #ff5e73;
	vertical-align: top;
	margin-left: 5px;
}

.help-block {
	font-size: 12px;
	padding-left: 16px;
	margin-bottom: 15px;
}

.bg-danger {
	background-color: #f2dede !important;
}

.alert-danger {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}

.alert {
	border-radius: 16px;
}

.navbar {
	background-color: #fff;
}

.navbar-brand img {
	height: 50px;
}

.nav-link {
	font-size: 18px;
	padding: 0.5rem 0;
}

.sign-row {
	justify-content: space-between;
	padding: 0 20px;
}

.sign-table__item {
	box-shadow: 0 1px 4px rgba(0,0,0,.1);
	border-radius: 6px;
	background: #fff;
	padding: 15px 20px;
	margin-top: 5px;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link  {
	background-color: #98c35a;
	color: #fff !important;
	padding: 10px;
}

.nav-pills .nav-link {
	background-color: #fff;
	border-radius: 15px;
	padding: 10px;
	margin-right: 15px;
}

.pagination {
	display: block;
}

.course-thumbnail {
	width: 100%;
	height: 290px;
	-o-object-fit: cover;
	object-fit: cover;
}

.course-header {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.course-header-image {
	height: 420px;
	object-fit: cover;
	border-radius: 25px 25px 0 0;
}

.course-text {
	position: absolute;
	top: 40%;
	left: 30%;
	transform: translate(-50%, -50%);
	width: 33%;
}

.course-header-footer {
	padding: 25px;
	display: flex;
	justify-content: space-between;
	background-color: #98c35a;
	border-radius: 0 0 25px 25px;
}

.course-nav {
	float: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.course-separator {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #6a6a6a;
	margin: 0 40px;
}

.profile-image-wrap {
	position: relative;
}

.profile-image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.profile-image-upload {
	transition: .5s ease;
	opacity: 0;
}

.profile-image-wrap:hover .profile-image {
	opacity: 0.3;
}

.profile-image-wrap:hover .profile-image-upload {
	opacity: 1;
}




@media(max-width:768px){
	.course-nav{
		max-width: 100%;
	}
}