{% extends 'core/page-layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Создание мероприятия{% endblock %}
{% block page %}
<div class="container">
    <h3 class="my-3">Новый курс</h3>
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="bg-white rounded shadow-sm p-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-required">
                        <label for="title">Наименование</label>
                        {{ form.title|attr:"class:form-control"|attr:"required" }}
                        {% for error in form.title.errors %}
                        <p class="my-2 alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group form-group-required">
                        <label for="type">Тип мероприятия</label>
                        {{ form.type|attr:"class:form-select"|attr:"required" }}
                        {% for error in form.type.errors %}
                        <p class="my-2 alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group form-group-required">
                        <label for="type_education">Форма обучения</label>
                        {{ form.type_education|attr:"class:form-select"|attr:"required" }}
                        {% for error in form.type_education.errors %}
                        <p class="my-2 alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group form-group-required">
                        <label for="duration">Продолжительность</label>
                        {{ form.duration|attr:"class:form-control"|attr:"required" }}
                        {% for error in form.duration.errors %}
                        <p class="my-2 alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group form-group-required">
                        <label for="date_start">Начало обучения</label>
                        {{ form.date_start|attr:"class:form-control"|attr:"required" }}
                        {% for error in form.date_start.errors %}
                        <p class="my-2 alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group form-group-required">
                        <label for="date_end">Конец обучения</label>
                        {{ form.date_end|attr:"class:form-control"|attr:"required" }}
                        {% for error in form.date_end.errors %}
                        <p class="my-2 alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group form-group-required">
                        <label for="program_goal">Цели программы</label>
                        {{ form.program_goal|attr:"class:form-control"|attr:"required" }}
                        {% for error in form.program_goal.errors %}
                        <p class="my-2 alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group form-group-required">
                        <label for="description">Подробное описание</label>
                        {{ form.description|attr:"class:form-control"|attr:"required" }}
                        {% for error in form.description.errors %}
                        <p class="my-2 alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group form-group-required">
                        <label for="reason">Почему стоит пройти?</label>
                        {{ form.reason|attr:"class:form-control"|attr:"required" }}
                        {% for error in form.reason.errors %}
                        <p class="my-2 alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="reason">Программа</label>
                        {{ formset.management_form }}
                        <div style="display:none;" id="form_template">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="reason">Название модуля</label>
                                        {{ formset.empty_form.item|attr:"class:form-control" }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="reason">Продолжительность</label>
                                        {{ formset.empty_form.duration|attr:"class:form-control" }}
                                    </div>
                                </div>
                            </div>
                        </div><!-- stores empty form for javascript -->
                        
                        <div id="forms" class="form-group"></div><!-- where the generated forms go -->
                        
                        <input type="button" id="add_more" class="btn btn-primary" value="Добавить" />

                        <script>
                           $('#add_more').click(function () {
                            let total_form = $('#id_form-TOTAL_FORMS');
                            let form_idx = total_form.val();

                            $('#forms').append($('#form_template').html().replace(/__prefix__/g, form_idx));
                            $('html, body').animate({scrollTop:999000}, 400);
                            total_form.val(parseInt(form_idx)+1);
                        });
                    </script>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group form-group-required">
                    <label for="audience">Кому подойдут эти курсы</label>
                    {{ form.audience|attr:"class:form-control"|attr:"required" }}
                    {% for error in form.audience.errors %}
                    <p class="my-2 alert alert-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group form-group-required">
                    <label for="profile">Профиль</label>
                    {{ form.profile|attr:"class:form-control"|attr:"required" }}
                    {% for error in form.profile.errors %}
                    <p class="my-2 alert alert-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group form-group-required">
                    <label for="subject">Предметная область</label>
                    {{ form.subject|attr:"class:form-control"|attr:"required" }}
                    {% for error in form.subject.errors %}
                    <p class="my-2 alert alert-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group form-group-required">
                    <label for="certificate">Тип сертификата</label>
                    {{ form.certificate|attr:"class:form-select"|attr:"required" }}
                    {% for error in form.certificate.errors %}
                    <p class="my-2 alert alert-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-3 offset-md-9">
        <button class="my-3 btn btn-primary btn-block btn-lg" type="submit">Сохранить</button>    
    </div>

</form>
</div>


{% endblock %}