{% extends 'core/page-layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Подача заявки на мероприятие{% endblock %}
{% block page %}
<div class="container">
    <div class="account-header">
        <div class="row">
            <div class="my-3 col-lg-4 offset-lg-4 text-center">
                <p class="fw-bold">{{ course.title }}</p>
                <h3>Новая заявка</h3>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-lg-4 offset-lg-4 bg-white rounded shadow-sm p-3">
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <div class="form-group">
                <label for="email">Фамилия</label>
                <div class="form-control" readonly>{{ account.last_name }}</div>
            </div>

            <div class="form-group">
                <label for="email">Имя</label>
                <div class="form-control" readonly>{{ account.first_name }}</div>
            </div>

            <div class="form-group">
                <label for="email">Отчество</label>
                <div class="form-control" readonly>{{ account.middle_name }}</div>
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                <div class="form-control" readonly>{{ account.email }}</div>
            </div>

            <div class="form-group">
                <label for="email">Контактный телефон</label>
                <div class="form-control" readonly>{{ account.phone_number }}</div>
            </div>

            <div class="form-group">
                <label for="email">Регион</label>
                <div class="form-control" readonly>{{ account.subject_of_country }}</div>
            </div>

            <div class="form-group">
                <label for="email">Муниципалитет</label>
                <div class="form-control" readonly>{{ account.municipality }}</div>
            </div>

            <p class="help-block">Если данные в приведенной форме отличаются от действительных - измените их в своем профиле</p>
            <br>
            <form method="post">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-group">
                    <label for="city">{{ field.label_tag }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                    <p class="my-2 alert alert-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}

                <button class="mb-4 btn btn-primary btn-block btn-lg" type="submit">Сохранить</button>
            </form>

        </div>
    </div>
</div>
            {% endblock %}